* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.board {
  height: 819px;
  width: 819px;
  transform: scale(0.8);
  border: #000 solid 10px;
  padding: 0;
}

.row {
  height: 100px;
  width: 800px;
  padding: 0;
  margin: 0;
}

.col {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-bg {
  background-color: #000;
}

.hidden {
  display: none;
}
